html, body
{
    font-family: verdana;
    font-size: 16px;
    font-size: 100%;
    font-size: 1em;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

*
{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #4DDED0;
}

.welcome
{
    width: 800px;
    margin: 2em auto;
    padding: 10px 30px;
    background-color: #ffffff;
}

.welcome a
{
    display: inline-block;
    width: 200px;
    padding: 0.5em;
    text-align: center;
}

.welcome h1
{
    margin-bottom: 10px;
    color: #212529;
}

.news {
    margin-top: 20px;
}

.news-box
{

    width: 800px;
    margin: 0.5em auto;
    padding: 30px;

    background-color: #ffffff;
}

.news-box h2
{
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 0;
    color: #555;
}

.news-box p
{
    font-size: 12px;
    padding: 0;
    margin: 6px 0;
    color: #555;
}

.news-box span
{
    font-size: 13px;
    color: #6a6a6a;
}

.footer
{
    font-size: 15px;
    color: #333;
    text-align: center;
    width: 800px;
    margin: 2em auto;
    padding: 10px 30px;
}